  /* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

a {
  text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

/* header */
.header-name {
  font-size: 1.25em;
  text-align:center;
}

.header-nav li {
  text-align: center;
  background: #fff;
  margin-top: 6px;
  margin-bottom: 6px;
}

.header-nav a {
  font-size: .95em;
  color: #3acec2;
  text-transform: uppercase;
}

.header-nav a:hover {
  color: #093a58;
}

.header-nav a {
  padding: 10px 15px;
}

/* main */

.container {
    margin: 0 auto;     /* Center content */
    max-width: 1020px;
}

.main-list {
    column-count: 3;
    list-style: none; /* Remove bullets */
    padding: 0;
}

.main-list li {
    position: relative; /* Set as absolute to create 
                            co-ord system for child
                            project-overlay */
}

.main-list li:hover .project-overlay {
    opacity: .8;
    background-color: blue;

}

.main-list li:hover .project-title {
    opacity: 1;
}

.project-overlay {
    position: absolute;
    display: flex;
    align-items: center; /* Flex property */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     /* Fix:element was going over dividing line */
    margin-bottom: 7px; 
    /* Put transition in main project-overlay declaration, 
    not just the hover bit, so that you get transition on
    both hover in and hover out */
    transition: background-color .3s ease-out; 
}

.project-title {
    color: #fff;
    opacity: 0;
    text-align: center;
    width: 100%;      /* Have to set width to 100% as parent
                        has display:flex which resets width */
}


img {
    /* Ensure dynamic image stays within parent 
    If max-width is not set to 100%, width of 
    element will be width of image*/
    height: auto;   
    max-width: 100%;
}


/* ---- Layout Containers ---- */

.container {
  padding-left: 1em;
  padding-right: 1em;
}


/* ================================= 
  Media Queries
==================================== */

/* For screens wider than 769px */
@media screen and (min-width: 769px) {

}

